# Binary / Executables
caddy
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/

# Go
vendor/
go.work

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.pytest_cache/

# IDEs and OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Project specific data/logs
benchmark.json
debug.json
GeoLite2-Country.mmdb
*.log
log.json
testdata/
